[submodule "services/max-stt"]
	path = services/max-stt
	url = git@github.com:rbegg/max-stt.git
[submodule "services/max-assistant"]
	path = services/max-assistant
	url = git@github.com:rbegg/max-assistant.git
[submodule "services/services/max-tts"]
	path = services/services/max-tts
	url = git@github.com:rbegg/max-tts
[submodule "services/max-tts"]
	path = services/max-tts
	url = git@github.com:rbegg/max-tts
