name: ${COMPOSE_PROJECT_NAME:-max-dev}
services:
  # -------------------------------------------------------------------------------------
  # web-server SERVICE
  # -------------------------------------------------------------------------------------
#  web-server:
#    image: web-server-dev
#    build:
#      target: dev
#      # Context & Dockerfile is set to services/web-server in docker-compose.yaml
#    volumes:
#      # Bind-mount source code for live-reloading
#      - ./services/web-server/src:/app/src
#      - ./services/web-server/static:/app/static
#      - ./services/web-server/requirements.txt:/app/requirements.txt
#      # Use a named volume for node_modules for performance
#      - node_modules:/app/node_modules
#    # command: ["python3", "src/main.py"] # Command to run the dev server
#    command: ["python", "-m", "uvicorn", "src.main:app","--reload", "--log-level", "${WEB_LOG_LEVEL:-info}"]

  # -------------------------------------------------------------------------------------
  # stt SERVICE
  # -------------------------------------------------------------------------------------
  stt:
    image: stt-dev
    build:
      target: dev
      # Context & Dockerfile is set to services/max-stt in docker-compose.yaml
    volumes:
      # Bind-Mount local directories into the container for live code changes.
      - ./services/max-stt:/app
      #- ./tests:/app/tests
      #- ./data:/app/data
    # This keeps the container running so IDE can attach
    # command: sleep infinity
    command: ["python", "-m", "uvicorn", "src.app:app","--reload","--log-level", "${STT_LOG_LEVEL:-info}"]

  # -------------------------------------------------------------------------------------
  # TTS SERVICE - Text To Speach
  # -------------------------------------------------------------------------------------
  tts:
    image: tts-dev
    build:
      target: dev

  # -------------------------------------------------------------------------------------
  # ASSISTANT SERVICE
  # -------------------------------------------------------------------------------------
  assistant:
    image: assistant-dev
    build:
      target: dev
      # Context & Dockerfile is set to services/max-assistant in docker-compose.yaml
    volumes:
      # Bind-Mount local directories into the container for live code changes.
      - ./services/max-assistant:/app
    command:  |
      sh -c "pip install -e . && \
             python -m uvicorn max_assistant.main:app \
             --reload-dir /app/src \
             --reload-exclude '*__pycache__*' \
             --log-config src/log_config.json \
             --log-level ${ASSISTANT_LOG_LEVEL:-info} \
             --host 0.0.0.0 \
             --port 80"

  # -------------------------------------------------------------------------------------
  # ollama SERVICE
  # -------------------------------------------------------------------------------------
  ollama:
        ports:
          - "11434:11434"
    # Same container in Dev & Prod

  # -------------------------------------------------------------------------------------
  # proxy SERVICE
  # -------------------------------------------------------------------------------------
  proxy:
    image: proxy-dev
    build:
      target: dev
    ports:
      - "${PROXY_HTTP_PORT:-8080}:5173" # use vite web server in development
      - "${PROXY_HTTPS_PORT:-8443}:443"
    volumes:
       # mount a replacement nginx.cong to set workers to 1
      - ./proxy/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # 1. Mount the template to the correct directory
      #- ./proxy/certs:/etc/nginx/certs:ro
      - ./proxy:/proxy
      - /proxy/node_modules

  # -------------------------------------------------------------------------------------
  # node4j Database SERVICE
  # -------------------------------------------------------------------------------------
  neo4j:
    ports:
      - "7474:7474" # Neo4j Browser
      - "7687:7687" # Bolt (database connection)

  # -------------------------------------------------------------------------------------
  # VOLUMES
  # -------------------------------------------------------------------------------------
# Define the named volume for the virtual environment
volumes:
  venv:
  # Define the named volume for node modules
  node_modules:
